parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$path of function dirname expects string, string\\|false given\\.$#"
			count: 1
			path: src/DependencyInjection/FilterExtension.php

		-
			message: "#^Method PUGX\\\\FilterBundle\\\\Filter\\:\\:getRequest\\(\\) should return Symfony\\\\Component\\\\HttpFoundation\\\\Request but returns Symfony\\\\Component\\\\HttpFoundation\\\\Request\\|null\\.$#"
			count: 1
			path: src/Filter.php

